# VS Code settings
.vscode/

# Backup files
BACKUP*

# Cookies and private files
private*

# Temporary input and output files
tmp/
input/
output/
*.pkl
*.pdf
*.ppt
*.pptx
__pycache__/

# Virtual environment
docscrapingenv/
