# VS Code settings
.vscode/

# Backup files
BACKUP*

# Cookies and config files
config.json

# Temporary input and output files
tmp/
input/
output/
*.pkl
*.pdf
*.ppt
__pycache__/

# Virtual environment
docscrapingenv/
